<table>
  <tr>
    <td colspan="2">
      <h3>Order Items</h3>
    </td>
    <td colspan="1">
      <h3>Price</h3>
    </td>
    <td colspan="1" class="tdqntd">
      <h3>Qntd.</h3>
    </td>
    <td colspan="1">
      <h3>Total Price</h3>
    </td>
  </tr>
  <tr *ngFor="let item of order.items">
    <td>
      <a routerLink="/food/{{ item.food.id }}">
        <img [src]="item.food.imageUrl" />
      </a>
    </td>
    <td>
      {{ item.food.name }}
    </td>
    <td>
      {{ item.food.price | currency:'EUR':'symbol':'1.2-2' }}
    </td>
    <td class="tdqntd">
      {{ item.quantity }}
    </td>
    <td>
      {{ item.price | currency:'EUR':'symbol':'1.2-2' }}
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>
      <strong> Total Order: </strong>
    </td>
    <td>
      <strong>
        {{ order.totalPrice | currency:'EUR':'symbol':'1.2-2' }}
      </strong>
    </td>
  </tr>
</table>
